
<h2>List of teachers </h2>
<hr />
<table class="table">
	<thead>
		<tr>
			<th>SN.</th>
			<th>Name.</th>
			<th>Address.</th>
			<th>Number.</th>
			
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1.</td>
			<td>Sumit</td>
			<td>Birtamode</td>
			<td>9824074637</td>
		</tr>
	</tbody>
</table>
